.product-card__container-devices {
    margin: 0 24px 0 30px;
    background-color: #23D1AE;
    position: relative;
    min-width: 190px;
    min-height: 50px;
}

.buy-block_mini .product-card__container-devices {
    display: none;
}

@media screen and (max-width: 768px) {
    .product-card__container-devices {
        margin: 0 0 18px;
        max-width: 100%;
    }
}