.compatibility__item_macos {
  background-image: url("../../../../images/1280px-MacOS.png");
  background-repeat: no-repeat;
  width: 43px;
  height: 10px;
  background-position: center;
  background-size: 42px 10px;
}
