.compatibility__item_ios {
  background-image: url("../../../../images/IOS_logo_2010.png");
  background-repeat: no-repeat;
  width: 19px;
  height: 10px;
  background-position: center;
  background-size: 19px 10px;
}
