.product-card__logo {
    background-image: url(../../../images/productIcon.png);
    background-repeat: no-repeat;
    background-size: 72px 81px;
    width: 72px;
    height: 81px;
    flex-shrink: 0;
}

.buy-block_mini .product-card__logo {
    display: none;
}

@media screen and (max-width: 1439px) {
    .product-card__logo {
        background-size: 50px 56px;
        width: 50px;
        height: 56px;
    }
}