.compatibility__item_windows {
  background-image: url("../../../../images/windows_logos_PNG25.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: 16px 16px;
}
