.compatibility__item_andriod {
  background-image: url("../../../../images/Android_symbol_green_RGB.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 12px;
  background-position: center;
  background-size: 21px 11px;
}
