.product-card {
    background: linear-gradient(271.57deg, rgba(0, 168, 142, 0.4) 77.05%, rgba(126, 255, 51, 0.4) 100%), #23d1ae;
    min-height: 112px;
    display: flex;
    align-items: center;
    padding: 16px 32px;
    justify-content: space-between;
    box-sizing: border-box;
}

.buy-block_mini .product-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    min-height: 67px;
    height: min-content;
    padding: 12px 15px;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1439px) {
    .product-card {
        margin-top: 80px;
        position: relative;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .product-card {
        padding: 26px 16px 22px;
    }
}