.product-card__prices {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    border-right: 2px solid hsla(0, 0%, 100%, .2);
    border-left: 2px solid hsla(0, 0%, 100%, .2);
    min-width: 300px;
    box-sizing: border-box;
}

.buy-block_mini .product-card__prices {
    border: none;
    padding: 0;
    justify-content: start;
    order: 3;
    min-width: auto;
}

@media screen and (max-width: 360px) {
    .product-card__prices {
        min-width: 256px;
    }
}

@media screen and (max-width: 1439px) {
    .product-card__prices {
        position: static;
        width: 100%;
        padding: 14px 0 8px 0;
        border-right: none;
        border-left: none;
        border-top: 2px solid hsla(0, 0%, 100%, .2);
        border-bottom: 2px solid hsla(0, 0%, 100%, .2);
    }
}