.product-card__container-options {
    position: absolute;
    background-color: #15C1A1;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    margin-bottom: -2px;
    box-sizing: border-box;
    width: 100%;
}

.buy-block_stickBottom .product-card__container-options {
    bottom: 46px;
    border-bottom: none;
    border-top: 2px solid #000;
}